@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles here */
html {
  scroll-behavior: smooth;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #043A53 transparent;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #043A53;
  border-radius: 20px;
} 